@keyframes Levitate {
    0%{
       
        transform: translatey(0px);
    }
    30%{
        
        transform: translatey(-1px);
    }
    50%{
        
        transform: translatey(-2px);
    }
    70%{
        
        transform: translatey(-1px);
    }
    100%{
        
        transform: translatey(0px);
    }

    
}


@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
    
}





.navigationContainer{
    background-color: #2C2B2B ;
    border-radius: 20px;
    display: grid;
    margin: 0 auto;
    height: 95%;
    width: 35rem;
    grid-template-columns: minmax(0, 100%);
    grid-template-rows: 10rem auto;
    
    animation: fadeInRight 0.3s forwards;
    
    
    
}

.navigationContainer .navigationHeader{
    display: grid;
    grid-template-columns: 10rem auto;
    grid-template-rows: auto;
}


.navigationContainer .navigationHeader .imgContainer{
    margin: 1rem;
}

.navigationContainer .navigationHeader .imgContainer img {
    width: 8rem;
    height: 8rem;
    border-radius: 16px;
}


.navigationContainer .navigationHeader .userInformation{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2.9rem 2rem 1rem ;
    margin-top: 0.rem;
    


}


.navigationContainer .navigationHeader .userInformation h1{
    font-size: 1.5rem;
    letter-spacing: 1.6px;
    font-weight: 400;
    font-family: "Caveat", cursive;
    
}


.navigationContainer .navigationHeader .userInformation .institution{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    
}

.navigationContainer .navigationHeader .userInformation .institution p{
  font-weight: 400;
  color: #9E9E9E;
    
}


.navigationContainer .navigationHeader .userInformation .email{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.navigationContainer .navigationHeader .userInformation .email p{
    font-weight: 400;
    color: #9E9E9E;

}

.navigationContainer .navigationHeader .userInformation .socialIcons{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    gap: 2px;
}

.navigationContainer .navigationHeader .userInformation .socialIcons img{
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    transition: 0.3s ease-in-out;
    
}


.navigationContainer .navigationHeader .userInformation .socialIcons img:nth-child(1){
    top: 0px;
    animation-name: Levitate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 4s;

}

.navigationContainer .navigationHeader .userInformation .socialIcons img:nth-child(2){
    top: 0px;
    animation-name: Levitate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 4.2s;

}

.navigationContainer .navigationHeader .userInformation .socialIcons img:nth-child(3){
    top: 0px;
    animation-name: Levitate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 4.4s;

}

.navigationContainer .navigationHeader .userInformation .socialIcons img:nth-child(4){
    top: 0px;
    animation-name: Levitate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 4.6s;

}


.navigationContainer .navigationHeader .userInformation .socialIcons img:hover{
    top: -4px;
    cursor: pointer;

}


.navigationContainer .navigationHeader .userInformation .socialIcons img:nth-child(3){
    width: 2.2rem;
    height: 2.2rem;
}


.navigationContainer .navigationHeader .userInformation .socialIcons img:nth-child(4){
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 4px;
}



.navigationContainer .navigationContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}



.navigationContainer .navigationBar{
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 6rem 6rem ;
    
    
    gap: 1rem;
    
}


.navigationContainer .navigationBar i{
    font-size: 3rem;
    margin-left: 1rem;
    
}


.navigationContainer .navigationBar h1{
    font-size: 1.2rem;
    font-weight: 400;
    
}




.navigationContainer .navigationBar .home, .projects, .contact{
    display: flex;
    flex-direction: row;
    height: 6rem;
    align-items: center;
    gap: 2rem;
    
    cursor: pointer;
    
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    
}


.navigationContainer .navigationBar .home:hover, .projects:hover, .contact:hover{
    background-color: #ffffff08 ;
    
    
    
}


.navigationContainer .navigationBar .homeActive, 
.navigationContainer .navigationBar .projectsActive,
.navigationContainer .navigationBar .contactActive{
    display: flex;
    flex-direction: row;
    height: 6rem;
    align-items: center;
    gap: 2rem;
    background-color: #ffffff10 ;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
   
    
    

}


.navigationContainer .resumeDownload{
    position: relative;
}


.navigationContainer .resumeDownload button{
    padding: 2rem;
    
    color: #dddbdb;
    width: 100%;
    border-radius: 16px;
    border: none;
    background-color: #0A66C2 ;
    transition: 0.3s ease-in-out;
    font-size: 1rem;
    
}


.navigationContainer .resumeDownload button:hover{
  
    background-color: #0857a7 ;
    cursor: pointer;
    
    
}


.navigationContainer .resumeDownload button:active{
  
    background-color: #064481 ;
    
    
}
