@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}


:root{
  
  font-size: 75%;
  background-color: #1f1f1f;
  color: #dddbdb;
  
  overflow: hidden;
  height: 100vh;
  justify-items: center;

  width: 100%;
  font-family: 'Lato';
  
 

}

#root{
  display: grid;
  grid-template-columns: minmax(0, 100%);
  grid-template-rows: auto ;
   overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  animation: fadeIn 1s ease-in-out;
  

  
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  justify-items: center;
  
  
}

.activeSection{
  overflow: hidden;
  background-color:#1f1f1f;

  position: relative;
 

  display: grid;
  grid-template-columns: minmax(0, 100%);
  grid-template-rows: 55rem 62rem 60rem ;
 
  scrollbar-width: smooth;


  scrollbar-width: none;
  width: 95%;
  height: fit-content;
  margin: 0 auto;
  justify-items: center;
  
 

  

}

body{
  margin: 0;

  

}


.navActiveSection{
  grid-column: 1;
  width: 100%;
  height: 100%;
  display: grid;
  margin: 0 auto;
  justify-items: center;
  position: fixed;
  right: 35%;
  top: 3%;
  color: white;
  grid-template-columns: repeat(1, 1fr);
  display: none;
  
  
  z-index: 100;
  
  




}



.notNavActiveSection{
  display: none;
  

}



.notActiveSection{
 display: none;
}



.newActiveSection{
  width: 100vw;
  animation: fadeIn 0.5s ease-in-out;
  overflow: hidden;
  width: 95%;
  height: 100vh;
  max-width: 120rem;
  z-index: 1000;
  
  

  
  
  
  
}


.notNewActiveSection{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




.homeHeader {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    align-items: center;
    width: 100%;
   
    
    max-width: 125rem;
    white-space: nowrap;
    justify-content: space-between;
    
    background-color:#1f1f1f;
    
    position: sticky;
    top: 0;
    
    z-index: 1000;
}

.noHomeHeader{
  display: none;
  
}


.homeHeader .content1{
  display: grid;
  grid-template-columns: 30rem auto;
  grid-template-rows: 10rem auto;
  align-items: center;
  

  
  

}

 .homeHeader .searchBar {
    border: none;
   
}


 .homeHeader .MuiAutocomplete-input .MuiAutocomplete-inputFocused{
  width: 5rem;

 }
 .homeHeader .searchBar input {
    width: 100%;
    height: 4rem;
    padding-left: 2rem;
    border-radius: 15px;
    border: none;
    color: #8E8E8E;
    
    font-weight: 400;
    background-color: #343333;
    animation: searchExpand 0.3s ease-in-out;
}
 .homeHeader .searchBar input:focus {
    outline: none;
}

 .homeHeader .searchBar i {
    font-size: 2.3rem;
    position: relative;
    right: 4rem;
    color: white;
    top: 0.5rem;
}

 .homeHeader .jobTitle {
  width: fit-content;
  white-space: wrap;
  text-align: center;
  
  
    
}

 .homeHeader .jobTitle h1 {
    font-size: 1.5rem;
    opacity: 0;
    color: white;
    animation: fadeIn 0.3s forwards;
    animation-delay: 0.3s;
    font-family: "Caveat", cursive;
}









 .navigationHeader{
    display: grid;
    grid-template-columns: 10rem auto;
    grid-template-rows: auto;
    color: #8E8E8E;
    
    grid-column: 1;
    border-radius: 20px;
    border: none;
    z-index: 10;
}

 .navigationHeader .imgContainer{
    margin: 1rem;
}
 .navigationHeader .imgContainer img {
    width: 8rem;
    height: 8rem;
    border-radius: 16px;
}

 .navigationHeader .userInformation{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2.9rem 2rem 1rem ;
    margin-top: 0.rem;
    


}


 .navigationHeader .userInformation h1{
    font-size: 1.5rem;
    letter-spacing: 1.6px;
    font-weight: 400;
    font-family: "Caveat", cursive;
    
}


.navigationHeader .userInformation .institution{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    
}
 .navigationHeader .userInformation .institution p{
  font-weight: 400;
  color: #9E9E9E;
    
}


.navigationHeader .userInformation .email{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
 .navigationHeader .userInformation .email p{
    font-weight: 400;
    color: #9E9E9E;

}

 .navigationHeader .userInformation .socialIcons{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    gap: 2px;
}

 .navigationHeader .userInformation .socialIcons img{
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    transition: 0.3s ease-in-out;
    
}

 .navigationHeader .userInformation .socialIcons img:nth-child(1){
    top: 0px;
    animation-name: Levitate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 4s;

}
 .navigationHeader .userInformation .socialIcons img:nth-child(2){
    top: 0px;
    animation-name: Levitate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 4.2s;

}
 .navigationHeader .userInformation .socialIcons img:nth-child(3){
    top: 0px;
    animation-name: Levitate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 4.4s;

}
.navigationHeader .userInformation .socialIcons img:nth-child(4){
    top: 0px;
    animation-name: Levitate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 4.6s;

}

 .navigationHeader .userInformation .socialIcons img:hover{
    top: -4px;
    cursor: pointer;

}


 .navigationHeader .userInformation .socialIcons img:nth-child(3){
    width: 2.2rem;
    height: 2.2rem;
}

 .navigationHeader .userInformation .socialIcons img:nth-child(4){
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 4px;
}








@media (max-width: 767px) {
  
  :root{
  
    font-size: 85%;
  }

  .activeSection{
    width: 95%;
  }


  
.homeHeader {
   
    grid-template-columns: minmax(0, 100%);
    justify-items: center;
    align-items: start;
    height: 12.5rem;
    width: 95%;
    
    
   
   
  }


  
.activeSection{
  
  grid-template-rows: 70rem 155rem 100rem;
  
  
}



    
.homeHeader .content1{
  grid-template-columns: minmax(0, 100%);
  width: 95%;
  margin: 0 auto;
  justify-items: center;
  align-items: start;
  grid-template-rows: 8rem auto;
  
}


.homeHeader .content1 .navigationHeader {
  grid-template-columns: 6rem auto;
  padding: 0;
  width: fit-content;

}


.homeHeader .content1 .navigationHeader .imgContainer{
  width: fit-content;
  height: fit-content;
}

.homeHeader .content1 .navigationHeader .imgContainer img{
  width: 4rem ;
  height: 4rem;


}



.homeHeader .content1 .navigationHeader .userInformation{
  grid-template-rows: 2.3rem 2rem 1rem ;
}



.homeHeader .content1 .navigationHeader .userInformation h1{
  font-size: 1.2rem;
  margin-bottom: 0;

}


.homeHeader .content1 .navigationHeader .userInformation .institution p, .email p{
  font-size: 0.8rem ;
}



.homeHeader .content1 .navigationHeader .userInformation .institution i, .email i{
  font-size: 0.8rem ;
}



.homeHeader .content1 .navigationHeader .userInformation .socialIcons img{

  width: 1.9rem ;
  height: 1.9rem;
}


.homeHeader .content1 .navigationHeader .userInformation .socialIcons img:nth-child(3){
  width: 1.65rem ;
  height: 1.65rem;
}

.homeHeader .content1 .navigationHeader .userInformation .socialIcons img:nth-child(4){
  width: 1.65rem ;
  height: 1.65rem;
}




 
 .homeHeader .searchBar{
  margin-left: 6%;
  
 }

 
 .homeHeader .searchBar input {
    width: 14rem;
    height: 3.4rem;
    padding-left: 2rem;
    border-radius: 15px;
    border: none;
 }


.MuiStack-root.css-17pwghc-MuiStack-root{
  align-items: center;
  width: fit-content;

}
   
.homeHeader .jobTitle{
  grid-area: 2/2;
  white-space: wrap;
  text-align: center;
   width: 10rem;
   display: none;
 
  left: 0;
  
  
}

  
.homeHeader .jobTitle h1{
  font-size: 1.3rem;
  
}





.content{
  

  grid-template-rows: 80rem 50rem auto ;

 
 
  
}

  
}




@media (min-width: 768px) and (max-width: 1023px) {

  :root{
  
    font-size: 85%;
  }

  .activeSection{
  
  grid-template-rows: 70rem 74rem 100rem;
 
  
  
  
}



      
.homeHeader{
  align-items: center;
  grid-template-columns: 42rem auto;
  grid-template-rows: 7rem auto;
  height: 8rem;
  width: 95%;
  padding-top: 1rem;
  
  
}



    
.homeHeader .content1{
  grid-template-columns: 22rem auto;

}




.homeHeader .content1 .navigationHeader{
  grid-template-columns: 8rem auto;
}


.homeHeader .content1 .navigationHeader .imgContainer{
  margin-left: 0;
  margin-right: 0;
}


.homeHeader .content1 .navigationHeader .imgContainer img{
  width: 7rem ;
  height: 7rem;


}





.homeHeader .content1 .navigationHeader .userInformation{
  grid-template-rows: 2.3rem 2rem 1rem;
}



.homeHeader .content1 .navigationHeader .userInformation h1{
  font-size: 1.3rem;
  margin-bottom: 0;

}


.homeHeader .content1 .navigationHeader .userInformation .institution p, .email p{
  font-size: 0.9rem ;
}



.homeHeader .content1 .navigationHeader .userInformation .institution i, .email i{
  font-size: 0.9rem ;
}


      
.homeHeader .jobTitle{
  grid-area: 1/2;
}

    
.homeHeader .jobTitle h1{
  font-size: 1.3rem;
}





}


@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1180px)
  and (orientation: landscape){

    
  .activeSection{
  
  grid-template-rows: 50rem 40rem 80rem auto;
  gap: 20%;
  
  
}

.homeHeader{
  width: 95%;
}

}


@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1024px)
  and (orientation: portrait){

    .homeHeader{
  width: 95%;
}

}



@media (min-width: 1300px) {


  .activeSection{
  
  
  width: 100%;
  
}



}
